:root {
    --photoSize: 31vw;
}

article {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 85vw;
    left: 6vw;
    height: 70vh;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 60px;
}

.controlBtn {
    width: 1vw;
    margin-top: 15px;
    filter: invert(var(--accents));
}

.slideImg {
    position: absolute;
    top: 0.5vw;
    width: 27vw;
    left: var(--photoSize);
    transition: 1s linear;
    height: auto;
}

#photosNextBtn {
    align-self: center;
    z-index: 2;
}

#photosPreviousBtn {
    align-self: center;
    z-index: 2;

}

#counter {
    display: flex;
    margin: auto;
    margin-top: 0;
    top: 103.5%;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
}

@media screen and (min-height:1414px) {
    #counter{
        top: 95%;
        font-size: 1vw;
    }
}

@media screen and (max-width: 760px) {
    :root {
        --photoSize: 4vw;
    }

    article {
        width: 65vw;
    }

    .controlBtn {
        width: 5vw;
        filter: invert(100);
    }

    .slideImg {
        top: 10%;
        width: 90%;
        max-width: 520px;
    }
}