@import url('https://fonts.googleapis.com/css?family=Comic+Neue&display=swap');

/*----------------------------------------------------BASICS----------------------------------------------------*/

:root {
    --mainColor: rgba(24, 26, 27, 0.9);
    --secondaryColor: rgb(232, 230, 227);
    --contentBG: rgba(24, 26, 27, 0.5);
    --accents: 100%;
    --navSize: 13vw;
    /*
        0.052vw = 1px;
        0.103vh = 1px;
    */
}

html {
    overflow-x: hidden;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

body {
    background-color: var(--mainColor);
    color: var(--secondaryColor);
    transition: 0.5s;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}


a {
    text-decoration: none;
    color: inherit;
    border-bottom: 0vw solid rgb(0, 140, 255);
    transition: border-width 0.05s linear;
    transition: color 0.1s linear;
}

a:hover {
    color: rgb(0, 140, 255);
    border-bottom-width: 0.2575vh;
}

/*----------------------------------------------------HEADER----------------------------------------------------*/

header {
    display: flex;
    position: relative;
    border-bottom: 0.206vh solid var(--secondaryColor);
    height: 5.2vw;
    width: 100vw;
    font-family: 'Comic Neue', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    align-items: center;
    justify-content: center;
}

header div {
    position: relative;
    width: -webkit-fit-content;
    height: -webkit-fit-content;
    width: -moz-fit-content;
    height: -moz-fit-content;
    bottom: 1.5vw;
    margin-right: 1vw;
    margin-top: 1vh;

}

header h1 {
    margin: 0.515vh 0.26vw;
}

header img {
    position: absolute;
    width: 2.6vw;
    margin-left: 1.04vw;
    margin-right: 1.04vw;
    right: 0;
    height: auto;
}

#logo {
    filter: invert(var(--accents));
}

/*----------------------------------------------------SIDE MENU----------------------------------------------------*/

#sideMenu {
    width: var(--navSize);
    height: 100vh;
    position: fixed;
    left: calc(-1*var(--navSize));
    top: 0;
    text-align: right;
    background: var(--mainColor);
    transition: 0.5s;
    z-index: 4;
    overflow: auto;
}

nav ul li {
    list-style: none;
    margin: 2.6vw 1vw;
}

#navBtn {
    width: 2.6vw;
    height: 5.15vh;
    text-align: center;
    position: absolute;
    left: 1.5vw;
    top: 2vh;
    border-radius: 0.156vw;
    z-index: 4;
    cursor: pointer;
}

#navBtn img {
    width: 1.04vw;
    margin-top: 1.1545vh;
    filter: invert(var(--accents));
}

#langBtnImg {
    width: 2.6vw;
    margin-right: 0.52vw;
    filter: brightness(100%);
    transition: filter 0.4s linear;
}

#langBtnImg:hover {
    filter: brightness(175%);
}

#themeSwitch {
    position: relative;
    display: inline-block;
    width: 3.12vw;
    height: 3.502vh;
    top: 1.5vw;
    right: 0.78vw;
    margin-bottom: 1.03vw;
}

#themeSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

#slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondaryColor);
    -webkit-transition: .4s;
    transition: .4s;
}

#slider:before {
    position: absolute;
    content: "";
    height: 2.678vh;
    width: 1.352vw;
    left: 0.208vw;
    bottom: 0.412vh;
    background-color: var(--mainColor);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+#slider {
    background-color: var(--secondaryColor);
}

input:focus+#slider {
    box-shadow: 0 0 0.052vw var(--secondaryColor);
}

input:checked+#slider:before {
    -webkit-transform: translateX(1.352vw);
    -ms-transform: translateX(1.352vw);
    transform: translateX(1.352vw);
}

#slider {
    border-radius: 1.768vw;
}

#slider:before {
    border-radius: 50%;
}

/*----------------------------------------------------CONTENT----------------------------------------------------*/

article {
    position: relative;
    left: 10vw;
    width: 30vw;
    overflow: auto;
    margin-top: 2.06vh;
    margin-bottom: 2.06vh;
    padding-top: 0.515vh;
    padding-right: 2.08vw;
    padding-left: 0.78vw;
    padding-bottom: 1.03vh;
    background-color: var(--contentBG);
    border: 0.206vh solid var(--secondaryColor);
    border-radius: 1.5vw;
    line-height: 1.5rem;
}

article h2 {
    text-align: center;
}

#counter {
    font-size: 20px;
}

/*----------------------------------------------------PHONE----------------------------------------------------*/

@media screen and (min-width:1921px) {

    html,
    body {
        font-size: 0.8vw;
        line-height: 1.25vw;
    }

    #sideMenu {
        font-size: 0.8vw;
    }

    article {
        height: 78vh;
    }
}

@media screen and (max-width:1920px) {
    :root {
        --navSize: 250px;
    }

    header {
        border-bottom: 2px solid var(--secondaryColor);
        height: 100px;
        width: 100vw;
    }

    header h1 {
        margin: 5px;
    }

    header img {
        position: absolute;
        width: 50px;
        margin-left: 20px;
        margin-right: 20px;
        right: 0;
        height: auto;
    }

    header div {
        bottom: 30px;
    }

    nav ul li {
        margin: 50px 20px;
    }

    #navBtn {
        width: 50px;
        height: 50px;
        left: 30px;
        top: 20px;
        border-radius: 3px;
    }

    #navBtn img {
        width: 20px;
        margin-top: 15px;
    }

    #langBtnImg {
        width: 50px;
        margin-right: 10px;
    }

    #themeSwitch {
        width: 60px;
        height: 34px;
        top: 30px;
        right: 15px;
        margin-bottom: 10px;
    }

    #slider {
        border-radius: 34px;
    }

    #slider:before {
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        border-radius: 50%;
    }

    input:focus+#slider {
        box-shadow: 0 0 1px var(--secondaryColor);
    }

    input:checked+#slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    article {
        width: 30vw;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 5px;
        padding-right: 40px;
        padding-left: 15px;
        padding-bottom: 10px;
        border-radius: 30px;
        border: 2px solid var(--secondaryColor);
    }
}

@media screen and (max-width:1646px) {
    article {
        width: 82vw !important;
        left: 7vw !important;
    }
}

@media screen and (max-width: 760px) {

    /** CSS pre tablet a mobil */
    article {
        width: 72vw !important;
    }

    section {
        justify-content: left !important;
    }
}

@media screen and (max-width: 450px) {
    article {
        left: 6vw !important;
    }

    #logo {
        display: none !important;
    }

    #navBtn {
        left: 2vw !important;
    }
}

@media screen and (max-width:400px) {
    header h1 {
        margin-left: 25vw !important;
        margin-right: 1vw !important;
        text-align: right !important;
    }
    #background{
        background-attachment:scroll;
    }
}