table{
    font-size: 20px;
    position:relative;
    left:25vw;
    width: 50vw;
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-right: 40px;
    padding-left: 15px;
    padding-bottom: 10px;
    border: 2px solid var(--secondaryColor);
    border-collapse: collapse;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

table::-webkit-scrollbar {
    display: none;
}

td{
    text-align:center;
    padding: 5px 5px;
}

th{
    text-align:center;
    padding: 5px 5px;
}



