video{
    position:relative;
    left: 10vw;
    width: 50vw;
    height: 50vh;
}

h3{
    text-align: center;
    font-style: italic;
}

@media screen and (max-width: 760px) {

    /** CSS pre tablet a mobil */
    video {
        width: 72vw !important;
        left: 2vw !important;
    }
}