.articleIndex{ 
    width: 55vw;   
}

.featuredImageWrapper{
    display:flex;
    float:right;
    margin-left: 250px;
    margin-right: 3vw;
    margin-top: 10px;
    filter:contrast(90%);
    justify-content: right;
    max-width: 613px;
    height: auto;
    min-width: 400px;
}

.featuredImage{
    vertical-align: top;
    width: 400px;
    height: inherit;

}

.introduction{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    max-width: 100vw;
}